.wrapper
  .banner
    .banner__title BÔNUS DE #[br] #[span BOAS-VINDAS]
    .banner__info
      .banner__info-top.banner__info-item
        .in $ 3000
        .bonus
          .bonus__top $3000
          .bonus__bottom Ao depositar
        .in $ 3000
        .in $ 3000
        .in $ 3000
      .banner__info-bottom.banner__info-item
        .in $ 60
        .in $ 60
        .in $ 60
        .in $ 60
        .bonus
          .bonus__top $60
          .bonus__bottom Para aposta sem risco
        .in $ 60
        .in $ 60

